@font-face{
    font-family: "RockSalt";
    src: url(../font/Rock_Salt/RockSalt-Regular.ttf);
}
@font-face{
    font-family: "SueEllenFrancisco";
    src: url(../font/Sue_Ellen_Francisco/SueEllenFrancisco-Regular.ttf);
}
@font-face{
    font-family: "UnifrakturMaguntia";
    src: url(../font/UnifrakturMaguntia/UnifrakturMaguntia-Regular.ttf);
}
@font-face{
    font-family: "Covered_By_Your_Grace";
    src: url(../font/Covered_By_Your_Grace/CoveredByYourGrace-Regular.ttf);
}
@font-face{
    font-family: "Eater";
    src: url(../font/Eater/Eater-Regular.ttf);
}
@font-face{
    font-family: "Fredericka_the_Great";
    src: url(../font/Fredericka_the_Great/FrederickatheGreat-Regular.ttf);
}